* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: rgb(255, 255, 255);

    background: linear-gradient(95deg, rgb(15, 0, 22), rgb(48, 0, 77), rgb(15, 0, 22));
    background-size: 600% 600%;
    animation: bgAnim 20s ease infinite;
    padding: 20px;
}

@keyframes bgAnim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

#contacts {
    text-align: center;
}

#contacts p {
    text-align: justify;
    margin: 20px;
}

footer {
    text-align: center;
    opacity: 0.7;
    margin-top: 30px;
}

.voltar {
    border-color: rgb(126, 50, 161);
    background: transparent;
    color: rgb(126, 50, 161);
    border-style: outset;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.voltar:hover {
    animation: pulo 0.5s ease;
    border-color: rgb(200, 110, 218);
    color: rgb(200, 110, 218);
}

@keyframes pulo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}