* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: rgb(255, 255, 255);

    background: linear-gradient(95deg, rgb(44, 44, 44), rgb(0, 0, 0), rgb(92, 92, 92));
    background-size: 600% 600%;
    animation: bgAnim 20s ease infinite;
    padding: 20px;
}

@keyframes bgAnim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}


footer {
    text-align: center;
    opacity: 0.7;
    margin-top: 30px;
}

.voltar {
    border-color: rgb(165, 165, 165);
    background: transparent;
    color: gray;
    border-style: outset;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.voltar:hover {
    animation: pulo 0.5s ease;
    color: white;
    border-color: white;
}

@keyframes pulo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}