* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: rgb(255, 255, 255);

    background: linear-gradient(95deg, rgb(77, 77, 77), rgb(197, 154, 125), rgb(22, 0, 0));
    background-size: 600% 600%;
    animation: bgAnim 20s ease infinite;
    padding: 20px;
}

@keyframes bgAnim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}


footer {
    text-align: center;
    opacity: 0.7;
    margin-top: 30px;
}