* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #f0f0f0;

    /* fundo gradiente */
    background: linear-gradient(-45deg, #00101f, #0b3b68, #0b3b68,#00101f);
    background-size: 400% 400%;
    animation: bgAnimate 15s ease infinite;

    padding: 20px;
}

/* animacao suave */
@keyframes bgAnimate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* header */

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-family: 'Playwrite NO', cursive;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

header p {
    font-size: 1.5rem;
    opacity: 0.85;
}


/* nav */

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

nav a {
    position: relative;
    color: #cdd8f0;
    text-decoration: none;
    font-weight: 500;
    padding: 4px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: #ffffff;
    transition: width 0.5s ease;
}

nav a:hover::after {
    width: 100%;

    /* main */
}

main {
    max-width: 900px;
    margin: auto;
}

section {
    margin-bottom: 60px;
}

section h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

section p {
    line-height: 1.6;
    opacity: 0.9;
}


/* projetos */

.projetos-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-4px);
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: underline;
}


/* footer (assinatura) */

footer {
    text-align: center;
    opacity: 0.7;
    margin-top: 30px;
}